<div class="main" style="background-image: url(../../assets/page-images/Schedule.png);">
    <form class="form">
        <div class="text-center">
            <span class="form-title ">Register for Basic Service</span>
        </div>
        <div class="row">
            <div class="col">
              <label class="form-label">Full Name</label>
              <input id="fullname" name="fullname" type="text" class="form-control" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col">
              <label class="form-label">Address</label>
              <input id="address" name="address" type="text" class="form-control" disabled>
            </div>
            <div class="col">
                <label class="form-label">Phone Number</label>
                <input type="text" id="phone" name="phone" class="form-control" disabled>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">Date you want to test</label>
                <input type="text" id="date" name="date" class="form-control" disabled>
            </div>
        </div>
        <div class="col-12">
            <!-- <button class="btn-sm btn pri" type="submit">Confirm to Register</button> -->
            <input type="submit" class="btn btn-sm btn-secondary" value="Go back">
            <input type="submit" class="btn btn-sm btn-primary" value="Confirm to Register">
        </div>
    </form>
</div>
