<div class="box">
    
<div class="product__container">
    <div class="page">
        <div class="form-container">
            <div class="form-title">Forgot Your Password</div>
            <div class="form-content">
                <form class="product__form"  >
                    <div class="user-details">
                        <div class="product__input-box">
                            <span class="product__details">We have sent a verify code to your email</span>
                            <br>
                            <input id="verify-codemail" class="form-input" type="text" placeholder="Insert verify code" required>
                        </div>
                    <div class="form-button">
                        <input  type="submit" value="Confirm"routerLink="/forgot-password3" routerLinkActive="active" >
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>