<div class="service--optionbar d-flex justify-content-center ">
    <div class="service--optionbar--links bg-light ms-3 mt-1">
        <a class="mx-2 mb-2 bg-light text-decoration-none text-dark" href="Services_Package.html">Package Services</a>
    </div>
    <div class="service--optionbar--links bg-light ms-3 mt-1">
        <a class="mx-2   bg-light text-decoration-none text-dark" href="Services_Specialist.html">Specialization</a>
    </div>
    <div class="service--optionbar--links bg-light ms-3 mt-1">
        <a class=" mx-2  bg-light text-decoration-none text-dark" href="Services_After_Hours.html">After Hours Services</a>
    </div>
</div>

<div class="pservice--body">

<!-- service- package-body  part1-->
<div class="service--container pservice--container">
    <div class="pservice-content--box" style="float:left">
        <div class="service--content--tittle fs-1">
            Package Services
        </div>
        <div class="pservice-content--text">
            At TK Hospital, we provides high-quality services that meet not only your standard but also international’s
        </div>
        <div class="pservice-content--subtext">
            Benefits you we get when assign package services
        </div>
        <div class="pservice-content--textbox">
        <div>
            <div><span class="iconify" id="services-next" data-icon="ic:baseline-navigate-next"></span>Take care of your healthy 2h/day to 24/7</div>
            <div><span class="iconify" id="services-next" data-icon="ic:baseline-navigate-next"></span>Total body care</div>
            <div><span class="iconify" id="services-next" data-icon="ic:baseline-navigate-next"></span>Specialized health-care area</div>
        </div>
        <div>
            <div><span class="iconify" id="services-next" data-icon="ic:baseline-navigate-next"></span>The most advanced technique</div>
            <div><span class="iconify" id="services-next" data-icon="ic:baseline-navigate-next"></span>Optimized health planning</div>
            <div><span class="iconify" id="services-next" data-icon="ic:baseline-navigate-next"></span>All ages suitability</div>
        </div>
        </div>
    </div>
        <img src="../../assets/page-images/doctor-package.png" alt="" class="pservice--image">
</div>

<!-- service- package-body  part 2-->
<div class="list--package">
    <div class="list-package--tittle">
        Our list of package <span>Services</span>
    </div>
    <div class="list--package--content">
        <div class="list--package--column">
            <div class="list--package--header">
                PERSONAL GENERAL HEALTH CHECK
            </div>
            <div class="list-package--price">
                Just from 4.000.000/package </div>
            <div class="list-package--instruction pservice--hidden">Introduction</div>
            <div class="list-package--introduction--detail pservice--hidden">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies lorem et, amet amet, lorem ipsum dolor sit amet lorem
            </div>
            <div class="list--package--more"><a href="">View Details>></a></div>
        </div>
        <div class="list--package--column">
            <div class="list--package--header">
                ORGANIZATION GENERAL HEALTH CHECK
            </div>
            <div class="list-package--price">
                Just from 1.000.000/person</div>
            <div class="list-package--instruction pservice--hidden">Introduction</div>
            <div class="list-package--introduction--detail pservice--hidden">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies lorem et, amet amet, lorem ipsum dolor sit amet lorem
            </div>
            <div class="list--package--more"><a href="">View Details>></a></div>
        </div>
        <div class="list--package--column">
            <div class="list--package--header">
                PACKAGE MATERNITY
            </div>
            <div class="list-package--price ">
                Just from 34.000.000/programs </div>
            <div class="list-package--instruction pservice--hidden">Introduction</div>
            <div class="list-package--introduction--detail pservice--hidden">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ultricies lorem et, amet amet, lorem ipsum dolor sit amet lorem
            </div>
            <div class="list--package--more"><a href="">View Details>></a></div>
        </div>
    </div>
</div>
</div>
