
.pservice-content--text{
    font-size: 25px;
    margin: 10px 0px;
}
.pservice-content--subtext{
    font-style: italic;
    margin: 20px 0px;
    font-size: 20px;
}
.pservice--image>img{
    width: 100%;
    height: 100%;
}
#services-next{
    width: 22px;
    height: 22px;
    padding-top:2px;
    vertical-align: baseline;
}
.pservice-content--textbox>div{
    line-height: 30px;
    font-size: 20px;
}
.pservice-content--box{
    width: 60%;
    max-width: 500px;
    margin: 20px 20px;
}
.pservice--image{
border-radius: 60% 50% 58% 82% / 87% 60% 82% 55%;
    background-color: #CBE6EE;
}
.pservice-content--textbox{
    background-color: white;
    border-radius:30px ;
    padding: 15px;
}
.list--package{
    padding: 10px;
    background-color:#B0D7E2 ;
}
.list-package--tittle{
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}
.list--package--content{
    padding: 20px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #545859;
    font-family: Lato;
}
.list--package--column{
    border: 2px solid black;
    background-color: white;
    padding: 20px 20px 5px;
    margin: 0px 20px;
    width: 30%;
    max-width: 350px;
    max-height: 600px;
}
.list--package--header{
    font-weight: bold;
    font-size: 28px;
    height: 120px;
    text-align: center;
}

.list-package--tittle>span{
    color: white;
}
#package-services{
    height: 40px;
    width: 40px;
    background-color: #0A3D48;
    color: white;
    border-radius: 50%;
}
.list-package--price{
    font-size: 23px;
    font-style: italic;
    margin: 5px 0px;
}
.two-line{
    line-height: 50px;
}
.list-package--instruction{
    font-size: 25px;
    margin: 10px 0px;
}
.list-package--introduction--detail{
    margin: 20px 0px;
    font-size:20px
}
.list--package--more{
    text-align: right;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: auto;
}
.list--package--more>a{
    text-decoration: none;
}
/* tablet */
@media screen and (max-width:1048px){
    .service--content--tittle{
      font-size: 40px;
    }
    .pservice-content--text{
        font-size:20px;
       
    }
    .pservice--image{
       max-height:300px;
       margin-top:140px ;
      position: relative;
      z-index: 0;
    }
    .pservice-content--box>div{
        text-align:center;
        width:150%; 
      
    }
    .pservice-content--textbox{
        width:100%;
        max-width:400px;
        position: relative;
        z-index: 1;
        
    }
    .pservice-content--subtext{
        position: relative;
        z-index: 1;
    }
    .list--package--content{
        display: flex;
        flex-direction: column;
    }
    .list--package--column{
        width:85%;
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
        text-align:center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .list--package--header{
        margin-bottom: 5px;
        height:40px;
    }
    .list-package--instruction{
        margin: 2px 0px;
    }
    .list-package--introduction--detail{
        margin: 3px 0px;
    }


}
/* Phone */
@media screen and (max-width:380px){
    
    .pservice--container{
        padding: 10px 10px;
    }
    .pservice-content--box{
    width:80%;
    
    }
    .pservice-content--box>div{
        text-align: left;
    }
    .service--content--tittle{
        font-size:20px
    }
    .pservice-content--text{
        font-size:10px;
        position: relative;
        z-index: 1;
    }
    .pservice--image{
        max-height: 120px;
        margin-top: 20px;
        position: relative;
        z-index: 0;
    
    }
    .pservice-content--subtext{
        font-size: 8px;
        text-align:center !important;
    }
    .pservice-content--textbox>div{
        font-size:6px
    }
    .pservice-content--textbox{
        width:200%;
        max-width:250px;
        zoom: 0.8;
    }
    .list-package--tittle{
        font-size: 18px;
    }
    #package-services{
        height: 18px;
    width: 18px;
    }
    .list--package--column{
        width:90%;
        display: flex;
        flex-direction: row;
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
        padding: 3px;
        height:80px
     
    }
    .list--package--header{
        width:40%;
        line-height:18px;
        margin-right:5px !important;
        margin:auto;
        font-size:12px;
        zoom: 0.9;

    }
    .list-package--price{
        width: 50%;
       margin: auto;
        font-size:13px;
        font-weight: bold;
    
    }
    .list--package--more{
        width: 30%;
        margin-bottom: 2px;
        margin-top: auto;
        zoom: 0.7;
    }
    .pservice--hidden{
        display: none;
    }
    .list--package--header{
        text-align: left;
    }
    .list--package--more{
        font-size: 5px;
    }
}