<div class="header">
    <!-- navigation bar of desktop -->
    <div class="nav-desktop">
        <div class="container--1">
            <div>
                <a href="" class="box-icon"><i class="fa fa-phone-square"></i></a>
                <a href="">Contact us</a>
            </div>
            <div class="option">
                <div><a class="link" target="_parent" href="Homepage.html">Home</a></div>
                <div><a class="link" target="_parent" href="About_Us.html">About Us</a></div>
                <div><a class="link" target="_parent" href="Service.html">Services</a></div>
                <div><a class="link" target="_parent" href="Our_Doctors.html">Our Doctor</a></div>
                <div><a class="link" target="_parent" href="Blog.html">Blog</a></div>
                <!-- <div class="header-search">
            <input type="text" placeholder="Search">
            <a href=""><img src="../Images/search-icon.png" alt=""></a>
        </div> -->
                <form action="./Login.html" target="_parent">
                    <button class="login-btn" type="submit">Log In</button>
                </form>
            </div>
        </div>
        <div class="container--2">
            <div class="name__menu">
                <div class="name">
                    <div> <img src="../Images/ngoinha-icon.png" alt=""></div>
                    <div> <span class="logo_title">TK</span> Hospital</div>
                </div>
            </div>
            <div class="function">
                <input class="button-function" type="submit" value="Virtual Doctor" onclick="virtualSchedule()">
                <input class="button-function" type="submit" value="Homecare" onclick="homecareSchedule()">
                <input class="button-function function--3" type="submit" value="Schedule Appointment"
                    onclick="basicSchedule()">
            </div>
        </div>
    </div>
</div>
<!-- navagation bar of ipad and phone -->
<div class="nav-mobile">
    <div class="logo">
        <img src="../Images/ngoinha-icon.png" alt="">
        <span>TK</span> Hospital
    </div>
    <div class="nav-right">
        <div class="dropdown">
            <div class="nav-right__icon"><i class="fa fa-bars"></i></div>
            <div class="dropdown-content">
                <p><a href="Homepage.html"><i class="fa fa-home">&nbsp &nbsp</i>Home</a></p>
                <p><a href="About_Us.html"><i class="fa fa-book"> &nbsp &nbsp </i>About us</a></p>
                <p><a href="Services.html"><i class="fa fa-cogs"> &nbsp &nbsp </i>Service</a></p>
                <p><a href="Our_Doctors.html"><i class="fa fa-user-md"> &nbsp &nbsp </i>Our doctor</a></p>
                <p><a href="blog.html"><i class="fa fa-book">&nbsp &nbsp</i>Blog</a></p>
                <p><a href="Schedule_Virtual.html"><i class="fa fa-bed">&nbsp &nbsp</i>Virtual Doctor</a></p>
                <p><a href="Schedule_Homecare.html"><i class="fa fa-home">&nbsp &nbsp</i>Homecare</a></p>
                <p><a href="Schedule_Basic.html"><i class="fa fa-calendar">&nbsp &nbsp</i>Schedule Appointment</a>
                </p>
                <p><a href="Login.html"><i class="fa fa-user-shield">&nbsp &nbsp</i>Log In</a></p>
                <p><a href=""><i class="fa fa-envelope">&nbsp &nbsp</i>Contact</a></p>
            </div>
        </div>
    </div>
</div>
<div class="product__container">
    </div>   
    <div class="page">
        <div class="form-container">
            <div class="form-title">Forgot Your Password</div>
            <div class="form-content">
                <form action="#" method="get" class="product__form">
                    <div class="user-details">
                        <div class="product__input-box">
                            <span class="product__details">Create new passwword</span>
                            <br>
                            <input id="form-reset" class="form-input" type="password" required>
                        </div>
                        <div class="product__input-box">
                            <span class="product__details">Enter a new password</span>
                            <br>
                            <input id="form-confirm" class="form-input" type="password" required>
                        </div>    
                    <div class="form-button">
                        <input onclick="checkpass()" type="button" value="Reset new password">
                    </div>
                    </div>
                </form>
            </div>
        </div>
</div>