<div class="box">
    
<div class="product__container">
</div>   
<div class="page">
    <div class="form-container">
        <div class="form-title">Forgot Your Password</div>
        <div class="form-content">
            <form action="#" method="get" class="product__form">
                <div class="user-details">
                    <div class="product__input-box">
                        <span class="product__details">Create new passwword</span>
                        <br>
                        <input id="form-reset" class="form-input" type="password" required>
                    </div>
                    <div class="product__input-box">
                        <span class="product__details">Enter a new password</span>
                        <br>
                        <input id="form-confirm" class="form-input" type="password" required>
                    </div>    
                <div class="form-button">
                    <input onclick="checkpass()" type="button" value="Reset new password">
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>