<div class="service--optionbar">
    <div class="service--optionbar--links">
        <a href="Services_Package.html">Package Services</a>
    </div>
    <div class="service--optionbar--links">
        <a routerLink="/service/service-list" routerLinkActive="active">Specialization</a>
    </div>
    <div class="service--optionbar--links">
        <a  routerLink="/service/after-hours" routerLinkActive="active">After Hours Services</a>
    </div>
</div>
<div class="service--body">
    <div class="service--content">
        <div class="service--content--tittle">
            Variety of Services
        </div>
        <div class="service--content--textbox">
            Lorem ipsum dolor sit amet, consectetur adipiscinconsectetur porttitor. <br>
            Morbi volutpat tort sed neque pretium morbi. Lorem ipsum, dmnis architecto voluptatem suscipit perspiciatis aperiam, eum repellat adipisci ratione doloremque dignissimos, maxime nam, tenetur minus. Dolores, aut!

        </div>
    </div>
    <div class="service--mainOption">
        <div class="service--options">
           <div class="icon--container"> <span class="iconify" data-icon="flat-color-icons:overtime"></span> </div>
            <div class="icon--name">After Hours Service</div>
        </div>
        <div class="service--options">
            <div class="icon--container">   <span class="iconify" data-icon="vaadin:specialist"></span> </div>
            <div class="icon--name">Specialization</div>
        </div>
        <div class="service--options">
            <div class="icon--container">   <span class="iconify" data-icon="vscode-icons:folder-type-package"></span> </div>
            <div class="icon--name">Package Services</div>
        </div>
    </div>
    
</div>