<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

<div class="service--optionbar">
    <div class="service--optionbar--links">
        <a href="Services_Package.html">Package Services</a>
    </div>
    <div class="service--optionbar--links">
        <a routerLink="/services/service-list" routerLinkActive="active">Specialization</a>
    </div>
    <div class="service--optionbar--links">
        <a  routerLink="/service/after-hours" routerLinkActive="active">After Hours Services</a>
    </div>
</div>
<div class="service--body">
    <div class="service--content">
        <div class="service--content--tittle">
            Variety of Services
        </div>
        <div class="service--content--textbox">
            Lorem ipsum dolor sit amet, consectetur adipiscinconsectetur porttitor. <br>
            Morbi volutpat tort sed neque pretium morbi. Lorem ipsum, dmnis architecto voluptatem suscipit perspiciatis aperiam, eum repellat adipisci ratione doloremque dignissimos, maxime nam, tenetur minus. Dolores, aut!

        </div>
    </div>
    <div class="service--mainOption">
        <div class="service--options">
           <div class="icon--container icon--afterhour"> </div>
            <div class="icon--name ms-3 my-1">After Hours Service</div>
        </div>
        <div class="service--options">
            <div class="icon--container icon--specialist"></div>
            <div class="icon--name ms-3 my-1">Specialization</div>
        </div>
        <div class="service--options">
            <div class="icon--container icon--package"></div>
            <div class="icon--name ms-3 my-1">Package Services</div>
        </div>
    </div>
    
</div>