<div class="box">
    <div class="signup-main">
        <form regForm="ngForm" name="sForm">
            <div class="signup-title">Register New Account</div>
            <!-- <div class="signup-form">
                <div>Name <span>*</span></div>
                <div>Date of Birth <span>*</span></div>
                <div>
                    <input type="text" placeholder="type your name here" name="name" #name="ngModel" required > <br>
                    <div>  Touched:{{Name.touched}} - Dirty: {{Name.dirty}} - Valid: {{Name.valid}}</div>
                    <div> Untouched: {{Name.untouched}} - Pristine: {{Name.pristine}} - Invalid: </div>
                    <small class="text-danger" [class.d-none]="name.valid || name.untouched"> Tên bắt buộc nhập</small>
                </div>
                <div>
                    <input type="date" name="date" id="datetimepicker"></div>
                <div class="signup-sextitle">Gender <span>*</span></div>
                <div>
                    <input type="radio" name="sex" id="sex">
                    <label for="">Female</label>
                </div>
                <div>
                    <input type="radio" name="sex" id="sex">
                    <label for="">Male</label>
                </div>
                <div>Phone number <span>*</span></div>
                <div>ID number <span>*</span></div>
                <div>
                    <input type="number" name="phone" id="phone" ngModel="phone" #phone="ngModel"[(ngModel)]="user.Phone" required  [class.is-invalid]="errFlag && phone.touched" (blur)="checkPhone(phone.value)"(change)="checkPhone(phone.value)"><br>
                    <div>  Touched:{{phone.touched}} - Dirty: {{phone.dirty}} - Valid: {{phone.valid}} -errFlag: {{errFlag}}</div>
                    <div> Untouched: {{phone.untouched}} - Pristine: {{phone.pristine}} - Invalid: {{phone.invalid}}</div>
                    <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">  Bắt buộc nhập</small> 
                    <small class="text-danger" *ngIf="!errFlag && phone.touched">10</small>
                </div>
                <div>
                    <input type="number" id="idNum" >
                </div>
                <div class="signup-emailtitle">Email <span>*</span></div>
                <div class="signup-emailbutton"><input class="signup-input--email" type="email" id="email"></div>
                <div>Nationality <span>*</span></div>
                <div>Religion <span>*</span></div>
                <div>
                    <select name="nationality" id="nationality">
                        <option value="vietnam">Viet Nam</option>
                        <option value="china">china</option>
                        <option value="Korea">Korea</option>
                        <option value="japan">Japan</option>
                        <option value="india">India</option>
                    </select>
                </div>
                <div>
                    <input type="text">
                </div>
                <div>Province/City <span>*</span></div>
                <div>Ward/Commune <span>*</span></div>
                <div>
                    <select name="province" id="province">
                        <option value="hatinh">Hà Tĩnh</option>
                        <option value="hanoi">Hà Nội</option>
                        <option value="saigon">Sài Gòn</option>
                        <option value="dalat">Đà Lạt</option>
                    </select>
                </div>
                <div>
                    <select name="commune" id="commune">
                        <option value="tanloc">Tân Lộc</option>
                        <option value="hongloc">Hồng Lộc</option>
                        <option value="anloc">An Lộc</option>
                    </select>
                </div>
                <div>Street <span>*</span></div>
                <div>Job</div>
                <div><input type="text"></div>
                <div><input type="text"></div>
                <div class="signup-healthtitle">Health insuarance card number <span>*</span></div>
                <div class="healthnumber"><input class="signup-input--health" type="text"></div>
                <div>Height</div>
                <div>Weight</div>
                <div><input type="number" step="1"></div>
                <div><input type="number" step="1"></div>
                <div>Password <span>*</span></div>
                <div>Reenter Password <span>*</span></div>
                <div><input type="password" step="1"></div>
                <div><input type="password" step="1"></div>
            </div> -->
            <div class="signup-footer">
                <div class="signup-footer__note">
                    <span>*</span>- Require field
                </div>
                <div class="signup-button">
                    <div>
                        <input class="signup__button--create" (click)="onSubmit()" type="button" value="Create account">
                    </div>
                    <div class="signup__button--cancel">
                        <input type="button" value="Cancel">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>