
<div class="container" >
    <div class="pt-nav">
        <div class="pt-nav__left">
            <div class="pt-navbar_1"><a href="Homepage.html">Homepage</a></div>
            <span> yuy </span>
            <div class="pt-navbar_2"><a href="#">Medical Record</a></div>
        </div>
        <div class="pt-nav__right">
            <div *ngFor="let y of medicalRecords.medicalRecord">
                <div><a (click)="scrollToElement(target)" (click)="yearSelect(y)" >{{y.nam[0].year}}</a> <span> | </span></div>
            </div>
        </div>
    </div>


    <div class="pt-main">
        <div class="pt-main__title"> Newest Health Diagnose</div>
        <div class="pt-main_1">
            <div class="pt-main__column pt-main__box--result">
                <div class="pt-main__result--title">Health check results</div>
        
               
                <div><span>Liver: </span>{{healthDiagnose.checkResults.Liver}}</div>
                <div><span>Portal and suprahepatic veins:
                    </span>{{healthDiagnose.checkResults.PortalAndSuprahepaticveins}}</div>
                <div><span> Biliary tract:</span>{{healthDiagnose.checkResults.BiliaryTract}}</div>
                <div><span>Pancreas: </span>{{healthDiagnose.checkResults.Pancreas}}</div>
                <div><span>Stomach: </span> {{healthDiagnose.checkResults.Stomach}}</div>
                <div><span>Duodenal bulb: </span>{{healthDiagnose.checkResults.DuodenalBulb}}</div>
                <div><span>Abdominal aorta: </span>{{healthDiagnose.checkResults.AbdominalAorta}}</div>
                <div><span>Bladder: </span>{{healthDiagnose.checkResults.Bladder}}</div>
                <div>{{healthDiagnose.checkResults.avaluate}}</div>
                <div>{{healthDiagnose.checkResults.avaluate}}</div>
            </div>
            <div class="pt-main__column pt-main__column--2">
                <div class="pt-main__box">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="https://lh3.googleusercontent.com/GmjF5tm0Wl95c_hwjAihQDhb2pFdkoDo3aOab6-ASDrgO9tsuMsALtR4-LQNgbQGVMoYyUXPDlWU7LYJo9lWVLgg4zekOhMAhGMA7X85KmyuYGRrftCaeAizmaldjz6EwqPH9arTDbvJY99a3qRwTCuUHTjvZ0xlFccSqZOTGfdR1lNSfd0Ji7H-01ozsZHYbWXU9DmQIkW28gPIFxvC9JYxgMp5Hr-roGdt-oliixEHYdJPD_nym864usgQ1KW1v5ZGexSzJWrBrfrJ1G5_mL48gAQnNTIAw35lOwReqvbDgIML1-SelfGKGMpLoEl-w4sQ_Ksm2JRgBIrTjvktTmAcbNT6AtdRvgnqosjHOl7rPS-ROGxsbHK-WYoaenE517WKdr9NZGPA_uDpbXN9KWc8BttqoqFnLM2iCiADqih5dSytsfDqO0HRsWNecgP2LGQ1e9WMxFBCP11u-4jusAXrtLVj2FOWDCkF16nMkWxNyqOyszrgiaeyAXVkh1xucXyUTxR_k_-tQzyO_AYfwQvs1LModilhMC7A4M24evFFdZNs2vCyCh2tEEulSYoNM6IIjvlhe-tVTXjM5x4LYN5z-rkSxrtMh9mD5vnYgkZpKF3ZhtTiwKfo39jwWlog5HLYgngnJDpR_CtY81u8oA7ydF1zEu2YxqOgjTqegxDQjn9swtbyLeyvh0YSVOx0Xi_8H-kyj2-WsG6ShTACW4THKm-HgeeD9r6Pb2IWl44dCIsDKuRWOW1ETbc=w55-h60-no?authuser=0" alt=""></div>
                        <div><span> Heart </span><br> <br>{{healthDiagnose.heart}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{healthDiagnose.heart}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
                <div class="pt-main__box">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="https://lh3.googleusercontent.com/m4Ox-jxMIrt1m0GTuXnrrdNtQxcWaDy5OVwv1DLeK7p86TiHij9M8Gyi-dJNiUZmisfrxOjy-J2s7gWouAiXsyCaGsTBIXOclv-TnSztWy3vvVxW9lrx_nYsbC2k_qgBHkHKQldlpqSO-ttbWwcXXxwy82ZhwTbMOFdOT9RyBqVkVX8qtforpFjzG0DHoqys7TJ-6N-blctJiq7KD73hGmoD3Zk6nJY38rQCToK6oZRbig2i06tfAkSX9eETi6gsycOlRKtacRCxfBYqntCs6I_pQ4-VC9-ttqE8S3HXnlfTFCgywzGakYD1T8z79_FZ2ycmo-9KdFUEqXp3Uq7-0mFS4TMDgX4tpMZkUeyGgFgfFPsX3TPHv4Hb9fNlSMRZurp0dcHsS1Pg0oOyDdZweervAu0n9xaI2gZfpYvhJjB5bmb0Dq6V-_WxByV4UD83hVn8o7o73Cgay87-mCJQ89zUaiNeS0g-5crmCtnmOjnCTuUctfMOYysheiuJcavQKuL1VYKibckMDobivH8xQv73Tv0eVYjOAebwXeg17Yju8Mq3-3g1iKbzVI6NPCtkvbTBg6xNeaeFoFBQaTBf7fFur_Fq499Ypei2Lo81pmf5EjlGSytVEK9insDy3MOa5w55-Jtrh3JkzzpIVz-tFsSKIn4KsMOEDqR5wFlbP9aX7a5Lt8tnZWj8WyqIs_MfpFm7GuZydpQgVWTSkBu3Yj0eAilVY3PSA-nRUIbSFk69bgwyu3VFsrEbcUQ=w67-h55-no?authuser=0" alt="Lungs"></div>
                        <div><span> Lungs </span> <br><br> {{healthDiagnose.lungs}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{healthDiagnose.lungs}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
                <div class="pt-main__box">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="https://lh3.googleusercontent.com/n6Bm07WLA_Q3LrgCVEKjTHe2xZVvrNoPlOEWFoigV_HdE9TTtzgtQNqJKcTE7LKfHQFYEhailHp_-3uybxspRUoHbfUJykK6LtiDi9JWpTuAttYk1IY492aY9Rech4MiUOSQZbVLqe3dHTfQkWxEoRyZAl-CprfOiYyEXAElFvmBoyxMBI79o7HzokN2-rOqMotd_om-trUO9XOic9fJ7wAtPiOIiElQNEPU_mV2Us9KIvupmtXxXcnx-bPku7BW8hmJbw0Bn1WmkhNBmqECOeivirh_rPtAcDSvkzkZuqj-R8NU7KbCfVQfL3i4rtnZiFECsCsNP_WeSxSYV_aGIpA0URh3dnMA_mQ0lkl3l78t2tHqH7eYTHVoKJyYVxBFG9-3Cr09YPz1qUrmFAvW_EUBpx8Ge7tyWEYLW-V9d3GUK-aF3PswTQeuPJgjYGlaYKyH20R1TN9jC9fpAB8xiBP_kZNryrKaWBpI9nY-vjJc5kf3y2gpZ2ob7KmYr_g8-ewOWoUeBciz6EX1MMrbnYrsQU4Zp5gNsQ3ZeiiLBT-gtzchlufZDMoL9vNnMMdeY7FQkpDkeq1a-pfD1YLACJz3AlSbdU-XmlIkRkRGCSMnMbC7YnpWH6xn0j5wBmx76pimnYoNuNzkoN6qGiV-siMNnPr-dpdQp-PrCa4BXHBARBfbshFHwn5PktKRo6-w398NpL8ns2B2LlRoSmSDJjvksrQTYf-gqlEngxXIoUUAO659G59MviJgTu4=w66-h54-no?authuser=0" alt="Stomach"></div>
                        <div><span> Stomach </span><br> <br> {{healthDiagnose.stomach}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{healthDiagnose.stomach}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
                <div class="pt-main__box">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="https://lh3.googleusercontent.com/riDmvNjxyvPFxTgHbImSm4pW9b0bmITlvOuNvgFalALSsMwgXYZ3K5JmQ49uMeCsC5ntwHjV7hsEvMw2Eja3MKBzWvbeo4LLuylM686f6G6vWxkdSay-n7fTbaZhAP4hGCGVu23HBjqNiz7EL5gU8dJrQjLcm28PS_xRrgtcdo4Jf2NpeUtOCflM_DF1Dbd4NjfRSDqI5FkB5Dg_k9VbHbqALmujPQsC-_hF-5UjrvUYzh1I46jv5pM6BFOwUhTbvqxxcedbb7v67frDnAzAzNXkMLNThSM9ZgWDGgbtzsmIA-vSYnfEOStZMUT3RsYkgK8TuaA8NVazBlj9MksT21dJ4N8Ol8G8kRtK4hrWZw0meFp-FZi9an2Ucy4QWgoIIH0rPH3jQ1di6RBdfT27qfjaPcHoKc-MTireOamiuFtzie-zaGg8IyhxtvUdaR85UqGhKI4YYXh-weRxo9ktyRjFCvUW1q3es4A9rMXoQl4VbSgIx0LKFB44tIQo2qEBkLqF73aeT5E7rq8ig9hMT9oa9krijjPftPZASKRB8PLx0dDHfrOUodgMVX3rE7hXMaN1-7J0jrHFlelAiYHSyb_W2szPPwIeXoeTeyGe__HwZIK3UQWruMjtNeAEvureOCBaAx0mjggCsI3QNtb6bISHCPcVHEtkNZyb0-6RRNmmTcx51vp3zsDUK8nMA9hbUKOPcOWGMWYtP5WQzx8QYSfuepQ1B7w7ptt9IsF71KIH-U_11hOhrQ4mie4=w68-h56-no?authuser=0" alt="Gan"></div>
                        <div><span> Liver </span><br> <br> {{healthDiagnose.liver}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{healthDiagnose.liver}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>
            <div class="pt-main__column pt-main__column--3">
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="https://lh3.googleusercontent.com/ubrC3rPxlTAqaY5CiIKkG96I_6ffdW750QE0Oz895qTLz8Xx3KWdtqDEEzz40kPdV8ifGcOy6FXiW1i7K1a5L86nrxU4wht2T5Fqu9OSSh3QILlsq8sWXGrpXi3TbdzCGIHO-eekpPlD7DGqVMa7EyxNNW-nzZyPiLjDZKfKypnyFkCPr4MiA_1MMet2YEl9lo6-wyyijC8-8nTy1tzwo9Y6PyQovRR09HBeShQg8QAwQcEChnMMrRt9aBBw8D6RJHl5zh-2tiStN0iHsQhAbWwuhoJNJEIkjvm8xK_XjTs3K8KabU9yqOKjw0xeMcqHJwXx6QrH9AYSD20wG7KmiuGv2SB_WCUyFgJgoEAE7_Pu0n0yqMfl2bSCFG4FuNSGEcbfl5y9F7i7qJ5o2gIxqrVA7qZbVgHvfgoYmNf-8ITrVjRjFIntt6bmVDcomICCPNyY-wLN1KSMlsSFkhUIyv7MCFlYRvnr1RZ70KTBbAdL6SQlAa0M6U-qQnfSXpMHxzTMNKGAR3kG49PhDCCm7fcMirwhPXcwSSyR-yhVuEZL0n64GfowR0gfziFkHwCmW3w_eZxuSApW4_f1PgBhOgtE7KLTqmcfYAZMboaXiedcgePJHYup4uOv4qHfSGXGmNWqXzaBq32KGCZ6PbIBM6M3UV7qhceBvt8Gr_qOIB_nO2G8iCG3J3LrtPg9_9o3_zE0muqKUoyw5526GU1RzGJAGrPrcTLaG-K_YWJFjXeFA35ohuNI96ITjy4=w64-h52-no?authuser=0" alt="Chiều cao"></div>
                        <div><span> Height </span><br> <br> {{healthDiagnose.height}}</div>
                    </div>
                </div>
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="https://lh3.googleusercontent.com/qR6nhrsACsOarRf4uvWle218FnBlKY1OKtUvtpoPRiRruXOFGsxFSggaXU5FgEzYdd4wfNGNBQis429vs9EDKIw0AFunmRPRsZ94xjPL7i04HGyP_b3GoUWQAKGcNNk_ZGvJkAcJhO9xEppLc8sECXnpjZ6Y7WlmYN6ErsyVLzCtmh-5Mf9ow7XHvYE6YiVT044Em_xBlUn7DA_RVtszLUsz3HFQfzRtI7MSFbOw_aMxX0ncwn77WEsn950r08G7DeS04AEfOyEvtEyyUMNy2k9I0dgUbvDsU9BdytSuBWSVa8pYukQ4PL-EAjBeI60JUHq6PX5JFxA3nu5H83mIVCZBJkakp8_UNkxB0yglGvUmhJEMVKz1JIIZhs2A7hiHF0QOURD6AC8_hZr4vY2s3toXVhMF0-iqhO9bPbUR8uWAYkSaC2OHQqaJnx7mKy8TjnmQYBzPeDuHuyVdUCGvsleq5b4CswSsz83AoX9WtU5gir4HNNZZ_7vqzUpmDyXQLOwW8C94dy3hylRm6FQYi9yMc662-0X3l3K6bNQv_Xrb2AybZ9seP75NdVuFywHufN-VgzKeZ0YNUS-nLCuLqZzfeL29SHimoObiiKE86y9B_A1fifKWIf8eiPUFFDL6_edbVWnvbPuL4iHRyzYRjH2J_yCQbeKLZUJf7MNXSLAFFRDAi--4FMHvmr6mz-Ehwnt0MMPiWKMsO1yfyhNV4cgywbv9OSweQFMK7D49l87OslQV8LRA9v3hnNk=w57-h52-no?authuser=0" alt="Cân nặng"></div>
                        <div><span> Weight </span> <br><br> {{healthDiagnose.weight}}</div>
                    </div>
                </div>
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="https://lh3.googleusercontent.com/tWETq1qS0tYQB5Dr85N9tzrgH5oLuDiO-M_Jhf4dSxpuv-bid5qB_qkmf6W3qvz_IUGB0OyNZ9ljCzuI23FHVqdf3KhJ8YrqZuS0dA9-4AK5jt9EQwmYKLjbss073wiMWe9Oh3Z0cc5ha-heKWtdrf9sUagqoGsklai1jYd8YDtsuaAdylLgso19wOCxXWeCyt_aCy6mOKMu6z3vpr_mF4tAvJI7yu4vNbI2QztGTKFUB0tJ8YLV_yYqV7xWHhSbVhXdjnmC11rzuzEHOUMqn4VOpLuVyyc3ITY3uv3AT5PluYnNgD1sJLdg1oQsUnGYjoYl9e4L7jdiV2aK2Hvniw0YnbtCS6aRt4W6etIKCRBcGhyedPn6ePMfi7o-TdvC4_Uy9YUMHTXcezf-gccJkL09TVROe3JMNnU4n9g_fX8_ERdYWd00H1ZTm7EuaFf61PbEEEdUP4dI2cTIo9USyD6lCli9q41pg58EGv7AMQ8vIGzOmvk2dpS4UynNAXSojgs-ar59qluo2Ixu_j0QWE_hhInKBN8qoMeVIVfdclgdTLFp2zPGd7qDHSC9Z2ycODijHLxBjT1y0EocgAxxYdBjG-gWlHpCNRpAVw46RX1ZI9yhRewWOwXQ9SOlGyMfJlCnm3xrqq9GDiSKGwpYKoWqF4t7bZfsTt5M1zYDCgiATvZwGJumfcH2iJRWDeAJps5a8lkTOBTXyzOhpvksS9Q4vPqfgC9i2_XdMjWy8_WqCZ-Bf6bGzo8khHA=w61-h56-no?authuser=0" alt="Nhóm máu"></div>
                        <div><span> Blood group </span> <br><br>{{healthDiagnose.bloodGroup}}</div>
                    </div>
                </div>
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="https://lh3.googleusercontent.com/9kNq46ymQT1ZcbuVht_GNxRAfVHnDGb6goA9vWFUEtqFFABxDrFlre0xvq46m2vixoZ3wwDcffizdlLDZH9W8xh0x0bAMkPouY5aoXHVCKrIby1LvEUgs0sktBzBUWCjZDXLcaGyw0QtigPgdL2kA67PO5BS5Ji_ztNlr-kaccPU8jTWCAxJ9ShOxCuonrk1rnv9nJXkVc-I8hM79CdPN5HZz-hFzVUkbNQT0hI3iSMO5gW1FD5B6qFJO99anP5IqcI8hBszeyOMgtDM6d18JOTxK0wVAOf2MckKMBpP6nJtw-uWTumoYlNrowJ0GmKdh2XEC4tqpBssCKMgKnNaqBl9394c3kWIaN8TFQCHvJ4wKenGxlsxOqkATB24ZEhQkrybWsypfX2Qz6TFoY42h0O9blGJuu1C_9fm9sGj4Q62vUEUmKYRzGf-UOIFb5EHiqsye-jaWfjL3HSURK0HoGnQox7nj-RgtSckSORpZEq1rBFJrxZUYEcL5RJRzJyD5K5RjaU-c-sNY4_RxybhMLofjK0KQ63ZncQEPlA1gafvDBYYyT0EtFICYIpaRCRnUB6KmU5DMFkxFUHAj7EaXnF2HGhiPbmUTLqsiHoFxvDxKE0LN05o1B0t5evqVjU52x8UUHKPe7047V0k_MfJ-_JuqqgRA1P73fCeckKI019rzVs13vyWdBywDECLUpHapjWBMfYy4MFMWmXJhWoZ7s3bXS5TNlL9ntom7YdUtjVtLQtoAqfe10xnCjI=w60-h56-no?authuser=0" alt="Huyết áp"></div>
                        <div><span> Blood Pressure </span> <br><br>{{healthDiagnose.bloodPressure}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-main__item--end">
            <div class="pt-main__item--img">
                <div><img src="{{healthDiagnose.bloodPressureDiagram}}" alt="Biểu đồ huyết áp"></div>
                <div class="pt-main__item--title">Blood pressure diagram</div>
            </div>
            <div class="pt-main__item--img">
                <div><img src="{{healthDiagnose.heartRate}}" alt="Nhịp tim"></div>
                <div class="pt-main__item--title ">Heart rate</div>
            </div>
            <div class="pt-main__item--img">
                <div> <img src="{{healthDiagnose.spo2}}" alt="SPO2"></div>
                <div class="pt.main__item--title">SPO2</div>
            </div>
        </div>
    </div>
    <div class="pt-main__years" #target>
        <table>
            <tr>
                <th>Date in</th>
                <th>Date out</th>
                <th>Disease name</th>
                <th>Detail</th>
            </tr>
           <tr>
               <td>3453</td>
               <td>3453</td>
               <td>3453</td>
               <td><a data-bs-toggle="modal" data-bs-target="#exampleModal" > <i  class="bi bi-eye"></i></a></td>
           </tr>
            <!-- <tr *ngFor="let n of medicalRecords.medicalRecord[].nam" >
                <td>{{n.dateIn}}</td>
                <td>{{n.dateOut}}</td>
                <td>{{n.diseaseName}}</td>
                <td><a href="#detail" ><i class="bi-eye"></i></a></td>
            </tr> -->

        </table>
    </div>
    <!-- <div class="popup-container" #target>
        <div class="popup-content">
            <div class="popup-header">
                <div class="popup--date">
                    <div class="date">
                        Date in: <br>
                        dateIn}}
                    </div>
                    <div class="date">
                        Date out: <br>
                        ateOut}}
                    </div>
                </div>
                <div class="popup-info">
                    <div class="info--content">
                        <div><span>Disease code: </span>diseaseCode}}</div>
                        <div><span>Department: </span>prDetail.inforKhamBenh.department}}</div>
                        <div><span>Payment total:
                            </span>prDetail.detail[0].total+prDetail.detail[1].total+prDetail.detail[2].total}}
                        </div>
                        <div><span>Payment status: </span>prDetail.inforKhamBenh.paymentStatus}}</div>

                    </div>
                </div>
            </div>
            <div class="popup-table">
                <table>
                    <tr>
                        <th>Name of service</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total</th>

                    </tr>
                    <tr >
                        <td>nameService}}</td>
                        <td>quantity}}</td>
                        <td>unitPrice}}</td>
                        <td>total}}</td>
                    </tr>

                </table>
            </div>
            <a href="#" class="close">x</a>
        </div>
    </div> -->

    
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="popup-content">
                <div class="popup-header">
                    <div class="popup--date">
                        <div class="date">
                            Date in: <br>
                            dateIn}}
                        </div>
                        <div class="date">
                            Date out: <br>
                            ateOut}}
                        </div>
                    </div>
                    <div class="popup-info">
                        <div class="info--content">
                            <div><span>Disease code: </span>diseaseCode}}</div>
                            <div><span>Department: </span>prDetail.inforKhamBenh.department}}</div>
                            <div><span>Payment total:
                                </span>prDetail.detail[0].total+prDetail.detail[1].total+prDetail.detail[2].total}}
                            </div>
                            <div><span>Payment status: </span>prDetail.inforKhamBenh.paymentStatus}}</div>
    
                        </div>
                    </div>
                </div>
                <div class="popup-table">
                    <table>
                        <tr>
                            <th>Name of service</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total</th>
    
                        </tr>
                        <tr >
                            <td>nameService}}</td>
                            <td>quantity}}</td>
                            <td>unitPrice}}</td>
                            <td>total}}</td>
                        </tr>
    
                    </table>
                </div>
                <a href="#" class="close">x</a>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
</div>


