
<div class="container" >
    <div class="pt-nav">
        <div class="pt-nav__left">
            <div class="pt-navbar_1"><a href="homepage">Homepage</a></div>
            <span> > </span>
            <div class="pt-navbar_2"><a href="#">Medical Record</a></div>
        </div>
        <div class="pt-nav__right">
            <div *ngFor="let y of medicalRecords.medicalRecord">
                <div><a (click)="scrollToElement(target)" (click)="yearSelect(y)" >{{y.nam[0].year}}</a> <span> | </span></div>
            </div>
        </div>
    </div>


    <div class="pt-main">
        <div class="pt-main__title"> Newest Health Diagnose</div>
        <div class="pt-main_1">
            <div class="pt-main__column pt-main__box--result">
                <div class="pt-main__result--title">Health check results</div>
        
               
                <div><span>Liver: </span>{{healthDiagnose.checkResults.Liver}}</div>
                <div><span>Portal and suprahepatic veins:
                    </span>{{healthDiagnose.checkResults.PortalAndSuprahepaticveins}}</div>
                <div><span> Biliary tract:</span>{{healthDiagnose.checkResults.BiliaryTract}}</div>
                <div><span>Pancreas: </span>{{healthDiagnose.checkResults.Pancreas}}</div>
                <div><span>Stomach: </span> {{healthDiagnose.checkResults.Stomach}}</div>
                <div><span>Duodenal bulb: </span>{{healthDiagnose.checkResults.DuodenalBulb}}</div>
                <div><span>Abdominal aorta: </span>{{healthDiagnose.checkResults.AbdominalAorta}}</div>
                <div><span>Bladder: </span>{{healthDiagnose.checkResults.Bladder}}</div>
                <div>{{healthDiagnose.checkResults.avaluate}}</div>
                <div>{{healthDiagnose.checkResults.avaluate}}</div>
            </div>
            <div class="pt-main__column pt-main__column--2">
                <div class="pt-main__box">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../../assets/page-images/heart.png" alt=""></div>
                        <div><span> Heart </span><br> <br>{{healthDiagnose.heart}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{healthDiagnose.heart}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
                <div class="pt-main__box">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../../assets/page-images/Lungs.png" alt=""></div>
                        <div><span> Lungs </span><br> <br>{{healthDiagnose.lungs}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{healthDiagnose.lungs}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
                <div class="pt-main__box">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../../assets/page-images/stomach.png" alt="Stomach"></div>
                        <div><span> Stomach </span><br> <br> {{healthDiagnose.stomach}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{healthDiagnose.stomach}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
                <div class="pt-main__box">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../../assets/page-images/liver.png" alt="Gan"></div>
                        <div><span> Liver </span><br> <br> {{healthDiagnose.liver}}</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{healthDiagnose.liver}}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>
            <div class="pt-main__column pt-main__column--3">
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../../assets/page-images/Chiều cao.png" alt="Chiều cao"></div>
                        <div><span> Height </span><br> <br> {{healthDiagnose.height}}</div>
                    </div>
                </div>
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../../assets/page-images/Cân nặng.png" alt="Cân nặng"></div>
                        <div><span> Weight </span> <br><br> {{healthDiagnose.weight}}</div>
                    </div>
                </div>
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../../assets/page-images/Nhóm máu.png" alt="Nhóm máu"></div>
                        <div><span> Blood group </span> <br><br>{{healthDiagnose.bloodGroup}}</div>
                    </div>
                </div>
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../../assets/page-images/Huyết áp.png" alt="Huyết áp"></div>
                        <div><span> Blood Pressure </span> <br><br>{{healthDiagnose.bloodPressure}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-main__item--end">
            <div class="pt-main__item--img">
                <div><img src="../../assets/page-images/BP1.png" alt="Biểu đồ huyết áp"></div>
                <div class="pt-main__item--title">Blood pressure diagram</div>
            </div>
            <div class="pt-main__item--img">
                <div><img src="../../assets/page-images/HR2.png" alt="Nhịp tim"></div>
                <div class="pt-main__item--title ">Heart rate</div>
            </div>
            <div class="pt-main__item--img">
                <div> <img src="../../assets/page-images/SPO2_1.png" alt="SPO2"></div>
                <div class="pt.main__item--title">SPO2</div>
            </div>
        </div>
    </div>
    <div class="pt-main__years" #target>
        <table>
            <tr>
                <th>Date in</th>
                <th>Date out</th>
                <th>Disease name</th>
                <th>Detail</th>
            </tr>
            <tr *ngFor="let n of this.temp" >
                <td>{{n.dateIn}}</td>
                <td>{{n.dateOut}}</td>
                <td>{{n.diseaseName}}</td>
                <td><span data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectDetail(n)"><i class="bi-eye"></i></span></td>
            </tr>

        </table>
    </div>
    
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detail information of medical record</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="popup-content">
                <div class="popup-header">
                    <div class="popup--date">
                        <div class="date">
                            Date in: <br>
                            {{Pdetail.dateIn}}
                        </div>
                        <div class="date">
                            Date out: <br>
                            {{Pdetail.dateOut}}
                        </div>
                    </div>
                    <!-- <div class="popup-info">
                        <div class="info--content" *ngFor="let d of Pdetail.inforKhamBenh">
                            <div><span>Disease code: </span>{{d.diseaseCode}}</div>
                            <div><span>Department: </span>{{d.department}}</div>
                            <div><span>Payment total:
                                </span>{{detail.detail[0].total+detail.detail[1].total+detail.detail[2].total}}
                            </div>
                            <div><span>Payment status: </span>{{detail.inforKhamBenh.paymentStatus}}</div>
    
                        </div>
                    </div> -->
                </div>
                <div class="popup-table">
                    <table>
                        <tr>
                            <th>Name of service</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total</th>
    
                        </tr>
                        <tr *ngFor="let n of Pdetail.detail">
                            <td>{{n.nameService}}</td>
                            <td>{{n.quantity}}</td>
                            <td>{{n.unitPrice}}</td>
                            <td>{{n.total}}</td>
                        </tr>
    
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
</div>


