<div class="container" >
    <div class="pt-nav">
        <div class="pt-nav__left">
            <div class="pt-navbar_1"><a href="Homepage.html">Homepage</a></div>
            <span> yuy </span>
            <div class="pt-navbar_2"><a href="#">Medical Record</a></div>
        </div>
        <div class="pt-nav__right">
            <div >
                <div><a href="#yearSelect" >year}}</a> <span> | </span></div>
            </div>
        </div>
    </div>


    <div class="pt-main">
        <div class="pt-main__title"> Newest Health Diagnose</div>
        <div class="pt-main_1">
            <div class="pt-main__column pt-main__box--result">
                <div class="pt-main__result--title">Health check results</div>
                <!-- <div ng-repeat="n in healthDiagnose.checkResults">
                    - {{n}}
                </div> -->
                <div><span>Liver: </span>Liver}}</div>
                <div><span>Portal and suprahepatic veins:
                    </span>PortalAndSuprahepaticveins}}</div>
                <div><span> Biliary tract:</span>BiliaryTract}}</div>
                <div><span>Pancreas: </span>Pancreas}}</div>
                <div><span>Stomach: </span> Stomach}}</div>
                <div><span>Duodenal bulb: </span>DuodenalBulb}}</div>
                <div><span>Abdominal aorta: </span>AbdominalAorta}}</div>
                <div><span>Bladder: </span>Bladder}}</div>
                <div>avaluate}}</div>
                <div>avaluate}}</div>
            </div>
            <div class="pt-main__column pt-main__column--2">
                <div class="pt-main__box">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../Images/heart.png" alt=""></div>
                        <div><span> Heart </span><br> <br> scale}}</div>
                    </div>
                    <img src="" alt="">
                </div>
                <div class="pt-main__box">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../IMAGES/Lungs.png" alt="Lungs"></div>
                        <div><span> Lungs </span> <br><br> scale}}</div>
                    </div>
                    <img src="" alt="">
                </div>
                <div class="pt-main__box">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../IMAGES/stomach.png" alt="Stomach"></div>
                        <div><span> Stomach </span><br> <br> </div>
                    </div>
                    <img src="" alt="">
                </div>
                <div class="pt-main__box">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../IMAGES/liver.png" alt="Gan"></div>
                        <div><span> Liver </span><br> <br> scale}}</div>
                    </div>
                    <img src="range" alt="">
                </div>
            </div>
            <div class="pt-main__column pt-main__column--3">
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../IMAGES/Chiều cao.png" alt="Chiều cao"></div>
                        <div><span> Height </span><br> <br> height}}</div>
                    </div>
                </div>
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../IMAGES/Cân nặng.png" alt="Cân nặng"></div>
                        <div><span> Weight </span> <br><br> weight}}</div>
                    </div>
                </div>
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../IMAGES/Nhóm máu.png" alt="Nhóm máu"></div>
                        <div><span> Blood group </span> <br><br> bloodGroup}}</div>
                    </div>
                </div>
                <div class="pt-main__box pt-main__box-2">
                    <div class="pt-main--item">
                        <div class="pt-main--img"><img src="../IMAGES/Huyết áp.png" alt="Huyết áp"></div>
                        <div><span> Blood Pressure </span> <br><br> bloodPressure}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-main__item--end">
            <div class="pt-main__item--img">
                <div><img src="bloodPressureDiagram}}" alt="Biểu đồ huyết áp"></div>
                <div class="pt-main__item--title">Blood pressure diagram</div>
            </div>
            <div class="pt-main__item--img">
                <div><img src="heartRate}}" alt="Nhịp tim"></div>
                <div class="pt-main__item--title ">Heart rate</div>
            </div>
            <div class="pt-main__item--img">
                <div> <img src="spo2}}" alt="SPO2"></div>
                <div class="pt.main__item--title">SPO2</div>
            </div>
        </div>
    </div>
    <div class="pt-main__years" id="yearSelect">
        <table>
            <tr>
                <th>Date in</th>
                <th>Date out</th>
                <th>Disease name</th>
                <th>Detail</th>
            </tr>
            <tr >
                <td>dateIn}}</td>
                <td>ydateOut}}</td>
                <td>diseaseName}}</td>
                <td><a href="#detail" ><i class="fa fa-eye"></i></a></td>
            </tr>

        </table>
    </div>
    <div class="popup-container" id="detail">
        <div class="popup-content">
            <div class="popup-header">
                <div class="popup--date">
                    <div class="date">
                        Date in: <br>
                        dateIn}}
                    </div>
                    <div class="date">
                        Date out: <br>
                        ateOut}}
                    </div>
                </div>
                <div class="popup-info">
                    <div class="info--content">
                        <div><span>Disease code: </span>diseaseCode}}</div>
                        <div><span>Department: </span>prDetail.inforKhamBenh.department}}</div>
                        <div><span>Payment total:
                            </span>prDetail.detail[0].total+prDetail.detail[1].total+prDetail.detail[2].total}}
                        </div>
                        <div><span>Payment status: </span>prDetail.inforKhamBenh.paymentStatus}}</div>

                    </div>
                </div>
            </div>
            <div class="popup-table">
                <table>
                    <tr>
                        <th>Name of service</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Total</th>

                    </tr>
                    <tr >
                        <td>nameService}}</td>
                        <td>quantity}}</td>
                        <td>unitPrice}}</td>
                        <td>total}}</td>
                    </tr>

                </table>
            </div>
            <a href="#" class="close">x</a>
        </div>
    </div>
</div>


