<div class="product__page">
    <div class="product__form-container">
        <div class="product__form-title">CONFIRMATION FOR HOMECARE</div>
        <div class="product__form-content">
            <form action="#" method="get" class="product__form">
                <div class="product__user-details">
                    <div class="product__input-box">
                        <span class="product__details">Full Name</span>
                        <input class="product__form-input" type="text" id="fullName" disabled>
                    </div>
                    <div class="product__input-box">
                        <span class="product__details">Date of Birth</span>
                        <input class="product__form-input" type="text" id="DOB"
                            disabled>
                    </div>
                    <div class="product__input-box">
                        <span class="product__details">Email</span>
                        <input class="product__form-input" type="text" id="Email"
                            disabled>
                    </div>
                    <div class="product__input-box">
                        <span class="product__details">Phone</span>
                        <input class="product__form-input" type="text" id="Phone"
                            disabled>
                    </div>
                    <div class="product__input-box">
                        <span class="product__details">Address</span>
                        <input class="product__form-input" type="text" id="Address" disabled>
                    </div>
                </div>
                <div class="product__input-box product__choose-doctor">
                    <span class="product__details">Choose available doctor</span>
                    <select name="" id="Doctor" disabled>
                        <option value="Chọn bác sĩ">Dr. Nguyễn Quốc Công Thành</option>
                        <option value="Chọn bác sĩ">Dr. Nguyễn Cao Thăng</option>
                        <option value="Chọn bác sĩ">Dr. Trần Thanh Tùng</option>
                        <option value="Chọn bác sĩ">Dr. Thái Vĩnh Khang</option>
                        <option value="Chọn bác sĩ">Dr. Nguyễn Thị Thu</option>
                    </select>
                </div>
                <div class="product__user-details">
                    <div class="product__input-box">
                        <span class="product__details">Date to test</span>
                        <input class="product__form-input" type="date" placeholder="Nhập ngày bạn muốn khám"
                            id="Date" disabled> 
                    </div>
                    <div class="product__input-box">
                        <span class="product__details">Time</span>
                        <input class="product__form-input" type="time" placeholder="--:--"
                            disabled id="Time">
                    </div>
                </div>
                <div class="product__form-button">
                    <input type="submit" class="btn btn-sm btn-secondary" value="Go back">
                    <input type="submit" class="btn btn-sm btn-primary" value="Confirm to Register">
                </div>
            </form>
        </div>
    </div>
</div>

