
<div class="service--optionbar">
    <div class="service--optionbar--links">
        <a routerLink="/service/package-service">Package Services</a>
    </div>
    <div class="service--optionbar--links">
        <a routerLink="/services/service-list" routerLinkActive="active">Specialization</a>
    </div>
    <div class="service--optionbar--links">
        <a  routerLink="/service/after-hours" routerLinkActive="active">After Hours Services</a>
    </div>
</div>
<!-- after-hours-service part 1 -->
<div class="ah--container w-100">
    <div class="ah--box left--box">
        <div class="service--content--tittle after-hours--tittle">
            After hour services
        </div>
        <div class="ah-right--box--content">
            Quality doctors for <br> your best care
        </div>
        <div class="ah-right--box--subcontent">
            You will find new safety measures in place when you come to one of our urgent care facilities — all with the goal of keeping you safe as we care for you.
        </div>
        <div class="ah-right--box--link">
            Read our after hour service’ policies here...
        </div>
        <div class="ah-right--box--call">
           Call hotline
        </div>
        <div class="ah-right--box--phone">
            0900245421
         </div>
    </div>
    <div class="ah--image">
        <img src="../Images/ah-doctor.png" alt="" class="">
    </div>
    <div class="ah--box right--box">
            <div class="ah--right--box--item box-item-1">More than 3000 patients</div>
            <div class="ah--right--box--item box-item-2">24/7 full services</div>
            <div class="ah--right--box--item box-item-3">For all residents and visitors</div>
    </div>
</div>

<div class="ah--container--article">
    <div class="fs-2 mx-auto fw-bold" style="text-align: center">
        After hour healthcare <br>
        options and policies
    </div>
    <div class="ah--article--titlle">
        On this page
    </div>
    <div class="ah--article--section--header">
        When emergency medical help is required <br> 
        Helpline for non-urgent medical issues
    </div>
    <div class="ah--article--textbox">
        There is always a doctor available 24 hours a day 7 days a week. The Healthcare Centre provides on call after-hours medical care for patients outside the hours of 8.00am to 6.00pm weekdays and outside the hours of 8.00am to 12.00 noon on Saturday, Sunday and public holidays.
        <div class="ah--article--contact">
            
            If required, you may arrange a home visit by speaking to the after-hours GP. <br>

            Please be aware ADDITIONAL charges may apply for after hours consultations. <br>

            The after hours help line for this clinic is 51339966 <br>

            Nurse on-call 1300 606 024 <br>

            Emergency Dept Latrobe Regional Hospital 51738222
        </div>   
    </div>
  
    <div class="ah--article--section--header">
        When emergency medical help is required 
    </div>
    <div class="ah--article--section--para">
        If you or someone you know is having a life-threatening medical issue or is experiencing severe pain, call triple zero (000) or visit the emergency department of your nearest public hospital for urgent medical treatment. <br>
        Some private hospitals may have emergency departments and charge fees for medical services, which may not be covered by Medicare. If you are uncertain and if you can, ask the triage nurse about costs when you arrive. 
    </div>
    <div class="ah--article--section--header">
        Helpline for non-urgent medical issues 
    </div>
    <div class="ah--article--section--para">
        If you have questions about a medical issue, you can call the helpline NURSE-ON-CALL for advice and assistance. NURSE-ON-CALL is a phone service that provides immediate, expert health advice from a registered nurse, 24 hours a day, 7 days a week. <br>
        This helpline is can be accessed for the cost of a local or mobile phone call: <br>
        NURSE-ON-CALL <br>
        Tel: 1300 60 60 24 <br>
        24 hours a day, 7 days a week. <br>
    </div>
    <div class="ah--article--footer">
        Was this page helpful?
        <span><input type="submit" value="Yes" id="ah--button"></span>
        <span><input type="submit" value="No" id="ah--button"></span>
    </div>
</div>