<h2 class="text-center bg-title text-light lh-lg">OUR DOCTORS</h2>
<section class="bg-light-blue pt-5 pb-5">
  <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-3 mb-3 mb-md-0">
            <span class="h2 d-block">Have a glance at <span id="our-doctors">Our exellent doctors!</span></span>
            <p>TK-Hospital with a team of experienced and dedicated doctors</p>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-4 d-flex">
                    <div class="card mb-3">
                        <img class="card-img-top" src="https://www.leasurgery.co.uk/media/content/images/doctor.jpg" alt="không tải được hình">
                        <div class="card-body py-3">
                            <h5 class="mb-0">John Doe</h5>
                            <span>Co-Founder, CTO</span>
                        </div>
                        <div class="card-footer pt-0 border-top-0">
                            <a href="#">email@email.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="card mb-3">
                        <img class="card-img-top" src="https://www.leasurgery.co.uk/media/content/images/doctor.jpg" alt="không tải được hình">
                        <div class="card-body py-3">
                            <h5 class="mb-0">John Doe</h5>
                            <span>Co-Founder, Marketing</span>
                        </div>
                        <div class="card-footer pt-0 border-top-0">
                            <a href="#">email@email.com </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                    <div class="card mb-3">
                        <img class="card-img-top" src="https://www.leasurgery.co.uk/media/content/images/doctor.jpg" alt="không tải được hình">
                        <div class="card-body py-3">
                            <h5 class="mb-0">John Doe</h5>
                            <span>Marketing</span>
                        </div>
                        <div class="card-footer pt-0 border-top-0">
                            <a href="#">email@email.com </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex">
                  <div class="card mb-3">
                      <img class="card-img-top" src="https://www.leasurgery.co.uk/media/content/images/doctor.jpg" alt="không tải được hình">
                      <div class="card-body py-3">
                          <h5 class="mb-0">John Doe</h5>
                          <span>Marketing</span>
                      </div>
                      <div class="card-footer pt-0 border-top-0">
                          <a href="#">email@email.com </a>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 d-flex">
                <div class="card mb-3">
                    <img class="card-img-top" src="https://www.leasurgery.co.uk/media/content/images/doctor.jpg" alt="không tải được hình">
                    <div class="card-body py-3">
                        <h5 class="mb-0">John Doe</h5>
                        <span>Marketing</span>
                    </div>
                    <div class="card-footer pt-0 border-top-0">
                        <a href="#">email@email.com </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
