<h2 class="text-center bg-title text-light lh-lg">OUR DOCTORS</h2>
<section class="bg-light-blue pt-5 pb-5">
  <div class="container">
    <div class="row align-items-center">
        <div class="col-lg-3 mb-3 mb-md-0">
            <span class="h2 d-block">Have a glance at <span id="our-doctors">Our excellent doctors!</span></span>
            <p>TK-Hospital with a team of experienced and dedicated doctors</p>
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-4 d-flex" *ngFor="let o of ourdoctors">
                    <div class="card mb-3">
                        <img class="card-img-top" src="{{o.Image}}" alt="không tải được hình">
                        <div class="card-body py-3">
                            <h5 class="mb-0">{{o.DoctorName}}</h5>
                            <span>{{o.Department}}</span>
                        </div>
                        <div class="card-footer pt-0 border-top-0">
                            <p id="doctor-team"><i class="bi bi-eye">See more info with table below!</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<h3 class="text-center" id="doctor-table">List of Doctors by Department</h3>
<table class="table table-striped table-borderless">
    <tbody>
    <tr>
        <th>Image</th>
        <th>DoctorID</th>
        <th>DoctorName</th>
        <th>Department</th>
        <th>Position</th>
        <th>Description</th>
    </tr>
    <tr *ngFor="let o of ourdoctors">
        <td><img class="img-scale img-wrapper" src="{{o.Image}}"></td>
        <td>{{o.DoctorID}}</td>
        <td>{{o.DoctorName}}</td>
        <td>{{o.Department}}</td>
        <td>{{o.Position}}</td>
        <td>{{o.Description}}</td>
    </tr>
    </tbody>
</table>
<h3 class="text-center" id="doctor-role">Doctor by role</h3>
<div class="doctor-role">
    <div class="role-item">
        Home Doctor <span><img src="../../assets/page-images/human.png">&nbsp;17</span>
    </div>
    <div class="role-item">
        Specialization <span><img src="../../assets/page-images/human.png">&nbsp; 300</span>
    </div>
    <div class="role-item">
        Pediatrics <span><img src="../../assets/page-images/human.png">&nbsp; 30</span>
    </div>
    <div class="role-item">
        Radiology <span><img src="../../assets/page-images/human.png">&nbsp; 50</span>
    </div>
    <div class="role-item">
        Oncology <span><img src="../../assets/page-images/human.png">&nbsp; 28</span>
    </div>
    <div class="role-item">
        Fertility <span><img src="../../assets/page-images/human.png">&nbsp; 35</span>
    </div>
    <div class="role-item">
        Neurology <span><img src="../../assets/page-images/human.png">&nbsp; 87</span>
    </div>
    <div class="role-item">
        Nuitrition <span><img src="../../assets/page-images/human.png">&nbsp; 44</span>
    </div>
</div>