<footer class="bg-footer text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5>Address</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <p>669 QL1A Khu phố 3, P.Linh Xuân, TP. Thủ Đức, TP.HCM</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5>Contact Us</h5>
  
          <ul class="list-unstyled">
            <li>
                <p>Tel: (028) 54 11 33 33</p>
            </li>
            <li>
                <p>Fax: (028) 54 11 33 34</p>
            </li>
            <li>
                <p>Emergency: (028) 54 11 35 00</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <a class="ft-link" href="./Terms_Of_Service.html" target="_blank">Terms of Service</a>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <a class="ft-link fa fa-instagram" href="#"><img src="" alt="" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a class="ft-link fa fa-facebook-square fa-facebook" href="#" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a class="ft-link fa fa-twitch" href="#" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center cpr-bg">
      <a class="text-dark" href="#">Copyright © 2021 by TK Hospital. All Rights Reserved.</a>
    </div>
    <!-- Copyright -->
</footer>
