<div class="box">
    <div class="login-main">
        <div class="login-main__form">
            <form action="" name="form1">
                <h3><span>TK </span> Hospital Online Login</h3>
                <div>Email or Phone number</div>
                <input name="user" type="text" id="ephone" [(ngModel)]="user.Email">
                <div>Password</div>
                <input type="password" name="password" id="password" [(ngModel)]="user.password">
                <div class="forgot-pw">
                    <a>Forgot password?</a>
                </div>
                <div ><input class="button--login" type="submit" (click)="onSubmit()" value="Login" ></div><br>
                <div>
                    <a routerLink="/admin-login">Log In for Administrator</a>
                </div>
                <hr><br>
               
                <div class="input-button--create">
                    <input class="button--create" type="button" value="Create new account" onclick="register()">
                </div>
            </form>
        </div>
    </div>
</div>