<!-- <div class="service--optionbar">
    <div class="service--optionbar--links">
        <a href="">Package Services</a>
    </div>
    <div class="service--optionbar--links">
        <a href="">Specialization</a>
    </div>
    <div class="service--optionbar--links">
        <a href="">After Hours Services</a>
    </div>
</div>
-->
<div ngDefaultControl [(ngModel)]="filteredDepartment" class="d-flex" name="departmentFilter" id="departmentFilter">
    <div class="detail--column-one dropdown">
        <div class="column--one--header ">
            Specialization
        </div>
        <div class="dropdown-content column--one--header">
            <a  (click)="filteredDepartment=s.Department" type="button" class="mt-5 ml-3"
                *ngFor="let s of serviceList | filterUnique">{{s.Department}}</a>
        </div>
    </div>

    <div class="detail--column-two">
        <div >
            <div class="d-flex" #target>
                <div class="description--image">
                    <img src="http://localhost:3000/{{selectedItem?.Image}}">
                </div>
                <div class="services--description">
                    <div class="description--title">
                        {{selectedItem?.ServiceName}}
                    </div>
                    <div class="description--price">
                        {{selectedItem?.Price}}
                    </div>
                    <div class="description--header">
                        Description
                    </div>
                    <div class="description--content">
                        {{selectedItem?.Description}}
                    </div>
                </div>
            </div>
            <div class="row detail--related">
                <div class="detail--related--caption">
                    Related Services
                </div>
                <div class="row detail--related--option">
                    <div *ngFor="let s of serviceList | filter:filteredDepartment:'Department';let i=index"
                        class="column related--option--box" [ngClass]="{'active': selectedIndex == i}">
                        <div class="option--box--img">
                            <img class="cursor" src="http://localhost:3000/{{s.Image}}" alt="" (click)="scrollToElement(target)" (click)="selectImage(s)">
                        </div>
                        <div class="option--box--caption" (click)="scrollToElement(target)" (click)="selectImage(s)">
                            {{s.ServiceName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>