<h2 class="text-center bg-dark text-light lh-lg">Header</h2>
<body>
    <div class="container-fluid">
        <div class="container">
            <h3>{{"Register for basic service" | uppercase}}</h3>
            <form [formGroup]="regForm">
                <div class="mb-3">
                    <label for="name">Full name</label>
                    <input type="text" id="name" class="form-control" name="name" placeholder="Enter full name" formControlName="name" [class.is-invalid]="name.invalid && name.touched">
                    <div *ngIf="name.invalid && name.touched">
                        <small class="text-danger" *ngIf="name.errors?.['required']">Name is required</small>
                        <small class="text-danger" *ngIf="name.errors?.['minlength']">Name requires at least 3 characters</small>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="address">Address</label>
                        <input type="text" id="address" class="form-control" placeholder="Enter your address" formControlName="address">
                        <div *ngIf="address.invalid && address.touched">
                            <small class="text-danger" *ngIf="address.errors?.['required']">Address is required</small>
                            <small class="text-danger" *ngIf="address.errors?.['minlength']">Address requires at least 10 characters</small>
                        </div>
                    </div>
                    <div class="col">
                        <label for="phone">Phone number</label>
                        <input type="text" id="phone" class="form-control" name="" placeholder="Enter your phone" formControlName="phone">
                        <div *ngIf="phone.invalid && phone.touched">
                            <small class="text-danger" *ngIf="phone.errors?.['required']">Phone is required</small>
                            <small class="text-danger" *ngIf="phone.errors?.['minlength']">Phone requires at least 11 numbers</small>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="date">Date you want to test</label>
                    <input type="date" id="date" class="form-control" name="">
                </div>
                <div class="mb-3 text-center">
                    <button class="btn btn-primary">Submit the form</button>
                </div>
            </form>
        </div>
        <div class="mb-3 text-center">
            <button class="btn btn-secondary">Register for VIP Service</button>
        </div>
        <div class="mb-3">
            <ul *ngFor="let p of patient_schedule">
                <li>{{p.PatientName}} - {{p.Address}}</li>
            </ul>
        </div>
    </div>
</body>
<h2 class="text-center bg-dark text-light lh-lg">Footer</h2>