<!-- <div class="service--optionbar">
    <div class="service--optionbar--links">
        <a href="">Package Services</a>
    </div>
    <div class="service--optionbar--links">
        <a href="">Specialization</a>
    </div>
    <div class="service--optionbar--links">
        <a href="">After Hours Services</a>
    </div>
</div>

<div  class="detail--container ">
    <div class="detail--column-one dropdown">
        <div class="column--one--header ">
            Specialization
        </div>
        <div  class="dropdown-content column--one--header">
            <a href="">
            </a>
        </div>
    </div>
    <div ng-controller="ServiceDetailController" class="detail--column-two">
        <div>
            <div class="detail--description mySlides"
               >
                <div class="description--image">
                    <img src="">
                </div>
                <div class="services--description">
                    <div class="description--title">
                        
                    </div>
                    <div class="description--price">
                      
                    </div>
                    <div class="description--header">
                        Desciption
                    </div>
                    <div class="description--content">
                       
                    </div>
                </div>
            </div>

            <div class="caption-container">
                <p id="caption"></p>
            </div>
            <div class="row detail--related">
                <div class="detail--related--caption">
                    Related Services
                </div>
                <div class="row detail--related--option">
                    <div  class="column related--option--box">
                        <div class="option--box--img">
                            <img class="demo cursor" src=""
                                ng-click="currentSlideByAn($index)" alt="">
                        </div>
                        <div class="option--box--caption"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<h4>
   Services Detail
</h4>
<div>
   {{selectedService}}
</div>