

    <!-- body part 1 -->
   <div class="box">
    <div id="home__background-1">
        <div id="home--circle">
            <img id="home__img--1" src="../../assets/page-images/unsplash_DK--4VWK1tw.png" alt="">
        </div>
        <div class="home__title">WELCOME TO <SPan class="tk">TK</SPan> <br>
            HOSPITAL
        </div>
        <div class="home__content-1">
            Top 10 most excellent hospital in Vietnam
        </div>
        <div class="home__content-2" >
            Safely get to know your <br> body by our service
        </div>
        <div class="home__content-3">
            Anytime, Anywhere, Any curcumstances
        </div>
        <div class="home__content-4">
            Subcribe for our latest information
        </div>
        <div id="home--search">
            <input id="home__button--writemail" type="text" placeholder="Write your email here">
        </div>
    </div>
    <div class="container--3">
        <div id="home__header-1">
            
                HERE WE PROVIDE SUCH <br>QUALITY SERVICES
            
        </div>
        <div id="home__header-mobile">
            HERE, WE PROVIDE
        </div>
        
        <div class="home__container--item-1">
            <div class="home__container--detail">
                <a class="detail--1" href="../HTML/Terms_Of_Service.html">
                    <div class="home--titlebutton">Homecare</div>
                    <img src="../../assets/page-images/Tư vấn online.png" alt="">
                </a>
            
                <a href="../HTML/Terms_Of_Service.html" class="detail--2">
                    <div class="home--titlebutton home--titlebutton-2">Schedule Appointment</div>
                    <img src="../../assets/page-images/Bác sĩ gia đình.png" alt="">
                </a>
            
                <a href="../HTML/Terms_Of_Service.html" class="detail--3">
                    <div class="home--titlebutton">Virtual Doctor</div><img src="../../assets/page-images/Khám tại bệnh viện.png" alt="">
                </a>
            </div>
            <div id="home__header-2">
                <a href="./Product.html">GET STARTED NOW</a>
            </div> 
        </div>  
        
    </div>
    <!-- body part 3 -->
    <div class="bodyContainer part3">
        <div class="vision--container">
            <img src="../../assets/page-images/homepage2.jpg" alt="" id="slideShow--image">
            <div class="vision--container--textbox">
                <div class="vision--container--text">
                    <div class="vision--tittle">VISION STATEMENT</div>
                    <div class="vision-describe">To Be a Leading Medical Provider in Asia</div>
                </div>
                <div class="vision--container--text">
                    <div class="vision--tittle">MISSION STATEMENT
                    </div>
                    <div class="vision-describe">To Provide World-Class Medical Expertise People Trust</div>
                </div>
                <div class="vision--container--text">
                    <div class="vision--tittle">OUR VALUES
                    </div>
                    <div class="vision-describe">
                        We are Reliable and Accountable <br>
                        We Consider Excellent Customer Service as Essential</div>
                </div>
            </div>
        </div>
        <div class="specialist--container">
            <div class="specialist--container--header">
                Our Specialist
            </div>
            <div class="image-slide">
                <img src="../../assets/page-images/doctor1 (1).jpg" alt="">
                <img src="../../assets/page-images/doctor2.jpg" alt="">
                <img src="../../assets/page-images/doctor3.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- Homepage part 4 -->
    <div class="bodyContainer part4">
        <div class="review__section">
            Here's our customers'reviews
        </div>
        <div class="review--container">
            <div class="review--img ">
                <img src="../../assets/page-images/homepage 4.jpg" alt="" class="review-picture shadow-left">
            </div>
            <div class="review-textbox">
                <div class="review--tittle">Treatment of Dorsal Back Pain with Glucopuncture...
                </div>
                <div class="review--content">The services that I receive from (DN) is excellent. Dr. (Name) and the
                    staff are friendly and ensure that I am properly informed about my health and care,...
                </div>
                <div class="review--more" routerLink="/article" routerLinkActive="active">Read more...</div>
            </div>
        </div>
        <div class="review--container">

            <div class="review-textbox">
                <div class="review--tittle">Inflammatory Fibroid Polyp causing small bowel intussusception:
                </div>
                <div class="review--content">This practice is terrific. Dr. (Name) combines expertise and a willingness
                    to listen and discuss. She’s also an excellent surgeon. Also, the staff is very friendly and
                    professional....
                </div>
                <div class="review--more" routerLink="/article" routerLinkActive="active">Read more...</div>
            </div>
            <div class="review--img ">
                <img src="../../assets/page-images/homepage 4.2.jpg" alt="" class="review-picture shadow-right">
            </div>
        </div>
    </div>


   </div>
