.box{
    margin: 0;
    padding: 0;
    background-image: url(../../assets/page-images/background.png);
    font-family: 'Lato', sans-serif;
}
.bodyContainer{
    color: rgba(76, 71, 71, 1);
    margin:0;
    margin-bottom: 10px;
    
}
#home__header-mobile{
    display: none;
}
#home__background-1{

    /* background-image: linear-gradient(rgba(152, 206, 226, 1),rgba(152, 206, 226, 0.5)), url(../IMAGES/BKG_right.jpg); */
    background-image: linear-gradient(rgba(152, 206, 226, 1),rgba(152, 206, 226, 0.5)), url(../../assets/page-images/BKG_right.jpg);
    width: 70vw;
    border-bottom-right-radius: 35%;
}
.home__title{
    width: 600px;
    font-size: 70px;
    font-weight: bold;
    margin-left: 5%;
    padding-top: 50px;
    margin-top: 0px;
}
.tk{
    color: red;
}
.home__content-1{
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-left: 5%;
    margin-top: 0px;
}
.home__content-2{
    font-size: 45px;
    font-weight: bold;
    color: rgba(76, 71, 71, 1);
    margin-left: 5%;
    margin-top: 10%;
}
.home__content-3{
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: rgba(76, 71, 71, 1);
    margin-left: 5%;
    margin-top: 20px;
}
.home__content-4{
    font-size: 30px;
    font-weight: bold;
    color: rgba(76, 71, 71, 1);
    margin-left: 5%;
    margin-top: 8%;
}
#home--search{
    width: 40%;
    margin-left: 5%;
}
#home__button--writemail{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
#home--circle{
    float: right;
    margin-top: 40%;
    margin-right: -25%;
}
#home__img--1{
    max-width: 400px;
    max-height: 400px;
}
.home__content-3{
    background-size: 100% auto;
}
.home__container--item-1{
    padding: 50px 0px 50px 0px;
}
.home__container--detail{
    display: flex;
    justify-content: space-around;
}
#home__header-1{
    position: absolute;
    z-index: 2;
    right: 8%;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    color: rgba(78, 84, 87, 1);
    text-align: end;
}

.detail--1{
    width: 320px;
    height: 500px;
    background: linear-gradient(rgba(115, 188, 217, 1),rgba(115, 188, 217, 0.48));
    border-radius: 20px;
    margin-top: 5%;
    text-decoration: none;
}
.detail--2{
    width: 320px;
    height: 500px;
    background: linear-gradient(rgba(115, 188, 217, 0.48),rgba(115, 188, 217, 0.5486),rgba(115, 188, 217, 1));
    border-radius: 20px;
    margin-top: 11%;
    text-decoration: none;
}
.detail--3{
    width: 320px;
    height: 500px;
    background: linear-gradient(rgba(115, 188, 217, 1),rgba(115, 188, 217, 0.48));
    border-radius: 20px;
    margin-top: 16%;
    text-decoration: none;
}
.home--titlebutton{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgba(76, 71, 71, 1);
    margin-top: 20px;
}
.home--titlebutton-2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgba(76, 71, 71, 1);
    margin-top: 20px;
}
a>img{
    width: 100%;
    vertical-align:auto;
    object-fit: fit;
}
#home__header-2{
    margin-left: 5%;
    margin-top: -5%;
    
    
    
}
#home__header-2>a{
    color: rgb(197, 46, 46);
    font-weight: bold;
    font-size: 45px;
    text-decoration: none;
}
.part3{
    margin-left: auto;
    margin-right: auto;
}
.vision--container{
    display: flex;
    background-color: #065F73;
    border-radius: 500px 0px 0px 500px;
    height: 250px;
    color: white;
}
.vision--container--text{
height: 95%;
}
.vision--container--textbox{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
   margin: auto;
}
.vision--tittle{
font-weight: bold;
font-size: 48px;
width: 100%;

}
.vision-describe{
font-style: italic;
font-size: 25px;
width: 100%;
}

.image-slide>img{
    width: 350px;
    height: 220px;
}
#slideShow--image{
    border-radius: 50%;
}
.specialist--container--header{
    font-size: 64px;
    text-align: center;
    margin: 5px 0px 10px 0px;
}
.image-slide{
    padding: 5px;
    display:flex;
    justify-content: center;
}
.image-slide>img{
    padding: 0px 20px;
}
.part4{
    margin: 50px 50px ;
}
.review-picture{
    height: 320px;
    width: 535px;
    margin: 0px 20px;
}
.review--container{
display: flex;
}
.review-textbox{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
}
.review__section{
    font-size: 50px;
    font-weight: bold;
    margin: 50px 20px;
    font-style: italic;
}
.review--tittle{
    font-size: 25px;
    font-weight: bold;
}
.review--content{
    font-size: 20px;
}
.review--more{
    font-size: 18px;
    font-style: italic;
    text-align: right;
}

.shadow-right{
    box-shadow:20px 20px #065F73 ;
}
.shadow-left{
    box-shadow:-20px -20px #065F73 ;
}
.part5{
display: flex;
justify-content: center;
padding: 10px 100px;
background-color:#065F73 ;
}

.news--img>img{
    height: 200px;
    object-fit: cover;
    width: 100%;


}
.newsContainer{
    width: 20%;
    background-color:#DFF0F2 ;
    font-size: 23px;
    margin: 10px 20px;
    padding: 0px 0px ;
}
.news--content--header{
    font-weight: bold;
    margin: 10px 0px;
}
.news--content{
    font-size: 20px;
    padding: 10px;
    margin-bottom: 5px;
   
}
.news--footer{
    height: 30px;
    background-color: black;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.news--footer>a{
    color: white;
}
@media screen and (max-width:768px) {
    #home__header-mobile{
        margin-top: 20px;
        display: block;
        text-align: center;
        font-weight: bold;
        color: rgba(78, 84, 87, 1);
        font-size: 30px;
        margin-bottom: -20px;
    }
    #home__img--1{
        max-width: 250px;
        max-height: 250px;
    }
    #home__background-1{
        height: 80vh;
        width: 80%;
    }
    #home--circle{
        margin-top: 40%;
        margin-right: -20%;
    }
    .home__title{
        font-size: 40px;
    }
    .home__content-1{
        font-size: 20px;
    }
    .home__content-2{
        font-size: 30px;
    }
    .home__container--item-1{
        height: 80vh;
       padding-top: 0px;
    }
    
    .detail--1{
        width: 200px;
        height: 400px;
    }
    .detail--2{
        width: 200px;
        height: 400px;
    }
    .detail--3{
        width: 200px;
        height: 400px;
    }
    .home--titlebutton{
        font-size: 30px;
    }
    #home__header-1{
        display: none;
    }
    .vision--container--text{
        text-align: center;
    }
    .vision--container--text>div{
        margin: 10px 8px;
    }
    .vision--tittle{
        font-size: 27px;
        height: 60px;
    }
    .vision-describe{
        font-size: 20px;   
    }
    .specialist--container--header{
        margin: 35px 0px 20px;
        font-size: 45px;
    }
    .image-slide>img{
        width: 25%;
        height: 80%;
    }
    .review__section{
        font-size: 45px;
    }
    .review--container{
        margin: 20px 0px;
        padding: 10px;
    }
    .review-picture{
        height: 200px;
        width: 300px;
        margin: 0px 20px;
    }
    .news--img>img{
        height: 120px;}
        .part5{
            padding: 10px;
            flex-wrap: wrap;
        }
        .newsContainer{
            width: 45%;
            margin: 5px 5px;
        }
        
}
@media screen and (max-width: 429px) {
    #home__img--1{
        max-width: 150px;
        max-height: 150px;
    }
    #home__background-1{
        height: 50vh;
        width: 80%;
    }
    #home--circle{
        margin-top: 50%;
        margin-right: -20%;
    }
    .home__title{
        font-size: 20px;
        padding-top: 20px;
    }
    .home__content-1{
        font-size: 15px;
    }
    .home__content-2{
        font-size: 15px;
        margin-top: 5px;
    }
    .home__content-3{
        font-size: 15px;
    }
    .home__content-4{
        font-size: 15px;
    }
    .home__container--item-1{
        height: 50vh;
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .detail--1{
        max-width: 350px;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
    }
    .detail--2{
        max-width: 350px;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
    }
    .detail--3{
        max-width: 350px;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
    }
    .home--titlebutton{
        margin-top: 0px;
        font-size: 30px;
        line-height: 100px;
    }
    .home--titlebutton-2{
        margin-top: 10px;
        font-size: 30px;
        line-height: 30px;
    }
    #home__header-1{
        display: none;
    }
    a>img{
    display :none;
       
    }
    #home--search{
        width: 50%;
        margin-left: 5%;
    }
    #home__button--writemail{
        height: 25px;
        font-size: 10px;
    }
    #home__header-mobile{
        margin-top: 20px;
        display: block;
        text-align: center;
        font-weight: bold;
        color: rgba(78, 84, 87, 1);
        font-size: 20px;
    }
    .home__container--detail{
        flex-direction: column;
  
    }
    
    #home__header-2{
        font-size: 20px;
        margin-top: 10px;
        margin-left: auto;
        text-align: center;
    }
    #slideShow--image{
        border-radius: 50%;
        height: 250px;
    }
    
    .vision--container{
        margin: 90px 0px 50px;
    }
    .vision--container--textbox{
        flex-direction: column;
    }
    .vision--container--text{
        text-align: center;
    }
    .vision--container--text>div{
        margin: 5px 3px;
    }
    .vision--tittle{
        font-size: 15px;
        height: 30px;
    }
    .vision-describe{
        font-size: 12px;   
    }
    .specialist--container--header{
        font-size: 20px;
        margin: 15px 0px 10px;
    }
    .part4{
        margin: 10px;
    }
    .review--container{
        margin: 8px 0px;
        padding: 5px;
    }
    .review__section{
        font-size: 20px;
        margin: 15px 5px;
    }
    .review-textbox{
        margin: 5px 0px;
    }
     .review-picture{
        height: 100px;
        width: 150px;
        margin: 0px 15px;
    }
    .review--tittle{
        font-size: 13px;
    }
    .review--content{
        font-size: 12px;
    }
    .review--more{
        font-size: 12px;
    }
    .news--content{
        font-size: 12px;
    }
    
}
